* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Inter", serif;
  font-weight: 400;
}

.all {
  width: 100%;
  overflow-x: hidden;
}
/* navbar */
.navbar {
  position: relative;
  background-color: transparent;
  transition: background-color 0.5s ease;
  /* add a smooth transition effect */
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-brand img {
  width: 70px;
}

.hidden {
  display: none;
}
li {
  list-style-type: none;
}
.nav-item a {
  font-size: 13px;
}
.second-nav-link {
  border: 1px solid #00000027;
  border-radius: 40px;
}
.flight-deco {
  position: relative;
}

.nav-link {
  padding: 5px;
}
.flight-deco::after {
  content: "";
  width: 45px;
  height: 3px;
  background-color: #32cd32;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.started {
  background-color: #32cd32;
  color: white;
}

.link-first {
  background-color: rgba(24, 3, 3, 0.285);
  font-size: 13px;
}
.link-first2 {
  background-color: transparent;
}

.nav-round1 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.nav-round2 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* hero section */

.hero {
  background-color: white;
  height: 58vh;
}

.hero-image {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.064),
      rgba(255, 255, 255, 0.303)
    ),
    url(./images/hero-img1.jpg);
  width: 100%;
  height: 80vh;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s ease-in-out;
}

.hero-image h1 {
  font-size: 45px;
}

.hero-change {
  margin: 90px 0;
}

.bg-circle1 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
}

/* second section */
.side-pad {
  padding: 0 70px;
}
.flight-link a {
  text-decoration: none;
}

.f-anchor {
  border-top-left-radius: 15px;
}

.h-anchor {
  border-top-right-radius: 15px;
}


p {
  margin: 0;
}

.flight-trip {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 3px black;
}

.a-one {
  color: black;
}

.ways {
  padding: 9px;
  border-radius: 18px;
}

.one-way {
  background-color: rgba(193, 180, 180, 0.27);
  padding: 9px;
  border-radius: 18px;
  cursor: pointer;
}
.round-trip {
  background-color: #e7fddc;
  color: green;
  padding: 9px;
  border-radius: 18px;
  cursor: pointer;
}

.one-way-depart {
  display: none;
}

.multi-city-depart {
  display: none;
}

.add-flight {
  display: none;
}

.active2 {
  background-color: #e7fddc;
  color: green;
  cursor: pointer;
}

.ways {
  padding: 9px;
  border-radius: 18px;
}

.a-one {
  color: black;
}

.going {
  position: relative;
}

.arrow img {
  position: absolute;
  left: 255px;
  top: 12px;
}

.arrow2 img {
  position: absolute;
  left: 345px;
  top: 12px;
}

.from,
.to {
  border: 1px solid #00000023;
  padding-left: 15px;
  border-radius: 10px;
  height: 53px;
  position: relative;
}

.from-text input {
  border: none !important;
  outline: none !important;
  background-color: transparent;
}

.from:hover {
  border: 1px solid #00000053;
}

.to:hover {
  border: 1px solid #00000053;
}

a {
  text-decoration: none;
}
.from-input {
  position: relative;
  background-color: white;
  border-radius: 12px;
  z-index: 10;
}

.from-input input {
  outline: 1px solid green;
  width: 100%;
}

.fa-circle-xmark {
  position: absolute;
  color: grey;
  right: 10px;
  top: 5px;
}
.angle-time {
  position: absolute;
  right: 0;
}
.arrow img {
  position: absolute;
  left: 255px;
  top: 12px;
}

.arrow2 img {
  position: absolute;
  left: 345px;
  top: 12px;
}

.going {
  position: relative;
}

#flight-checkbox {
  width: 17px;
  height: 17px;
}

.direct-size {
  font-size: 17px;
}

.btn-green {
  background-color: #44b50c;
}

.angle {
  color: #188920;
}

.adult-economy {
  display: flex;
  justify-content: space-between;
}
/* button */
.btn-green:hover {
  background-color: green !important;
  color: white !important;
  transform: 0.5s;
}

.btn-grey:hover {
  background-color: rgba(128, 128, 128, 0.15);
}

.second-nav-link {
  display: flex;
}

.arrow img {
  display: none;
}

.form-control2 {
  outline: none;
  border: none;
}

/* depart calender */

.return {
  position: relative;
}
.calendar {
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  width: 320px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: black;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.calendar-header h3 {
  margin: 0;
  font-size: 15px;
}

.calendar-body {
  padding: 16px;
}

.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 4px;
  font-size: 12px;
}

.day {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.day:hover {
  background: #e7fddc;
}

.day.today {
  background: #188920;
  color: white;
  font-weight: bold;
}

.day.disabled {
  color: #bbb;
  pointer-events: none;
}

/* third section */
.unlock-book img {
  width: 100%;
  border-radius: 15px;
}
.carousel-hide {
  display: none;
}

/* forth section */
.forth-img {
  width: 110px;
  height: 110px;
}

.benefit p {
  font-size: 16px;
}

/* fifth section */
.stories1 {
  color: #44b50c;
}
.fa-greater-than {
  color: #44b50c;
  font-size: 12px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide .image1 {
  display: block;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.hide-stories {
  display: none;
}

/* sixth section */
.airline-img {
  width: 70px;
}
.cheap-text {
  font-size: 16px;
}

/* Navigation button styles */
.swiper-button-next svg,
.swiper-button-prev {
  color: red;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8);
}
.card-body a {
  text-decoration: none;
  color: black;
}

.desc1 {
  font-size: 15px;
  font-weight: 600;
}

.desc-btn {
  font-size: 12px;
}
.card-image {
  width: 100%;
  height: 220px;
}

/* <style> */

.popup {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.pop2 {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.country {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;
}

.country:hover {
  background-color: #e7fddc;
}

.con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.div2 {
  border: 1px solid #00000023;
  border-radius: 15px;
  border: 1px solid #32cd32;
}

.div1 {
  border: 1px solid #00000023;
  border-radius: 15px;
  position: relative;
}

.div1 input {
  border: none;
  outline: none;
}

#cityInput {
  border: none;
}

h6 {
  margin: 5px 0;
}

.form-control2 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  background-color: transparent;
}

.label {
  font-size: 13px;
}
/* </style> */
.one-check {
  display: flex;
  justify-content: space-between;
}

/* trip ideas */
.add-ways1 {
  display: flex;
  flex-wrap: wrap;
}

.beirut {
  color: black;
  width: 348px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}
.beirut-image {
  width: 195px;
  height: 100%;
}

.beirut-image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.leb {
  font-size: 12px;
  color: #767676;
}

.beirut-price span {
  font-size: 13px;
  color: #767676;
}
.beach-link {
  background-color: #e7fddc;
  color: green;
  padding: 9px;
  border-radius: 18px;
  cursor: pointer;
}

.family-friendly-link,
.nature-link,
.backpacking-link,
.romantic-link,
.cultural-link {
  background-color: rgba(193, 180, 180, 0.27);
  padding: 9px;
  border-radius: 18px;
  cursor: pointer;
}

.family-friendly {
  display: none;
}

.nature {
  display: none;
}

.backpacking {
  display: none;
}

.romantic {
  display: none;
}

.cultural {
  display: none;
}

.active3 {
  background-color: #e7fddc;
  color: green;
  cursor: pointer;
}

/* nineth features available */
.wego-bg-image {
  background-image: url(https://zen.wego.com/cdn-cgi/image/width=536/web/illustrations/download-app-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.wego-bg-image img {
  width: 45%;
}

.unlocking {
  background-color: #fafafa;
  padding: 40px 40px 20px 40px;
}

.enjoy-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #44b50c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.fa-check {
  color: white;
  font-size: 13px;
}
.scanning {
  height: 140px;
}

.fa-apple {
  font-size: 25px;
}
.scan-image img {
  height: 140px;
}

.get-scan {
  background-color: black;
}
.get-scan a {
  text-decoration: none;
  color: white;
}

.getit {
  font-size: 8px;
}
.g-store {
  font-size: 13px;
  margin: 0;
}

/* tenth section */

.top-cities div {
  padding: 5px 0;
}
.top-cities a {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 16px;
}

.top-cities a:hover {
  text-decoration: underline;
}

footer {
  background-color: #1d1d1d;
}

footer h6 {
  color: white;
}
footer a {
  color: white;
}

.footer {
  padding: 40px 0;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pro {
  background-color: #ff8000;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 0.475rem;
}
hr {
  background-color: white;
  height: 2px;
}

.copyright {
  color: white;
}

@media (max-width: 767px) {
  /* Styles for small screens */
  .s-nav1 {
    display: none !important;
  }
  .s-nav2 {
    display: none !important;
  }
  .en {
    display: none !important;
  }
  .hero-change h1 {
    font-size: 22px;
  }

  .carousel-hide {
    display: block;
  }

  .unlock-book {
    display: none;
  }

  .third-sec-img {
    width: 100%;
    border-radius: 15px;
  }
  .travel-benefit {
    flex-wrap: wrap;
  }
  .side-pad {
    padding: 0 20px;
  }
  .hide-small-stories {
    display: none;
  }
  .hide-stories {
    display: block;
  }
  .desc1 {
    font-size: 11px;
  }

  .ways-text {
    font-size: 10px;
    padding: 5px;
  }

  .label {
    font-size: 10px;
  }
  .one-check {
    flex-direction: column;
  }
  .direct-size {
    font-size: 13px;
  }
  .adult-economy {
    font-size: 16px;
  }
  #flight-checkbox {
    width: 11px;
    height: 11px;
  }
  .nav-item a {
    font-size: 13px;
  }
  .to-width {
    width: 50%;
  }
  .from-one {
    padding-left: 7px;
  }
  .from-two {
    padding-left: 0px;
  }
  .angle-time {
    display: none;
  }
  .from-text input {
    font-size: 13px;
  }

  .unlocking {
    background-color: #fafafa;
    padding: 40px 40px 0 15px;
  }

  .idea-flex {
    gap: 20px;
  }

  .footer {
    gap: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium screens */
  .en {
    display: none;
  }
  .en2 {
    display: none;
  }

  .s-nav1 {
    display: none !important;
  }
  .side-pad {
    padding: 0 32px;
  }
  .to-width {
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  /* Styles for medium screens */
  .en2 {
    display: none;
  }
  .side-pad {
    padding: 0 32px;
  }
  .to-width {
    width: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1061px) {
  .to-width {
    width: 50%;
  }
  .side-pad {
    padding: 0 50px;
  }
}
